@font-face {
    font-family: 'roxborough-cf-bold';
    src: url('./fonts/FontsFree-Net-roxborough-cf-bold.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --rosa: #f05686;
    --verde: #d5de55;
    --fondo: #fff0e9;
    --text: #131415;
    --font: 'roxborough-cf-bold';
}

.texto-gradiente {
    background: -webkit-linear-gradient(93deg, rgba(240,86,134,1) 0%, rgba(213,222,85,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;  
  }

body{ 
    background-color: var(--fondo);
    color: var(--text);
    font-family: var(--font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header_section{
    top: 0;
    position: fixed;
    z-index: 99 ;
    width: 100%;
    background: rgb(240,86,134);
    background: linear-gradient(93deg, rgba(240,86,134,1) 0%, rgba(213,222,85,1) 100%); 
}

.header_section .nav_section{
    padding: 15px 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.nav_section img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.nav_section ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_section li{
    display: inline-block;
    align-items: center;
    margin: 0px 10px;
    font-family: var(--font);
}

.nav_section a{
    color: white;
    text-decoration: none;
}

.heroe_section{
    width: 60%;
    height: 100vh;
    padding: 4rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.heroe_section .titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

@keyframes slide-up {
    from {
      transform: translateY(300px);
    }
    to {
      transform: translateY(0);
    }
}

.heroe_section h1{
  color: var(--text);
  font-family: var(--font);
  font-size: 3rem;
  animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

.heroe_section img{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 1px solid var(--rosa);
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
}

.heroe_section .info{
    margin-top: 40px;
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
    animation-delay: 0.3s;
}

.info p{
    margin: 20px 0px;
}

.coleccion_section{
    width: 60%;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
    animation-delay: 0.5s;
}

.titulo_coleccion h2{
    font-weight: 800;
    font-size: 2.5rem;
}

.perfumes_section{
    width: auto;
}

.perfumes_section img{
    width: 50px;
    height: 50px;
}

.resenas_section{
    width: 60%;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
    animation-delay: 0.5s;
}

.resenas_section .titulo{
    padding: 2rem 0rem;
}

.resenas_section .resena_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.resena_info h3{
    color: var(--gradiente);
}

.resena_info .ago_resena{
    text-align: end;
    width: 100%;
    color: var(--gradiente);
}

/***********************************/

.yo_section{
    width: 60%;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
    animation-delay: 0.5s;
}

.card {
    --background: linear-gradient(to left, var(--verde) 0%, var(--rosa) 100%);
    width: 350px;
    height: 300px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
   }
   
   .card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #f7ba2b;
    background: var(--background);
    transition: opacity .5s;
   }
   
   .card-info {
    --color: var(--fondo);
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
   }
   
   .card .title {
    font-weight: bold;
    letter-spacing: .1em;
   }
   
   /*Hover*/
   .card:hover::after {
    opacity: 0;
   }
   
   .card:hover .card-info {
    color: #f7ba2b;
    transition: color 1s;
   }
   

/***********************************/

.contacto_section{
    width: 60%;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
    animation-delay: 0.5s;
}

.contacto_section .seguime{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contacto_section .contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.contacto .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input{
    width: 30rem;
    height: 2.3rem;
    margin-bottom: 1rem;
}

.form #mensaje{
    width: 30rem;
    height: 8rem;
    margin-bottom: 1rem;
}

.form button{
    border-radius: 5px;
    width: 30rem;
    padding: 10px 0px;
    background: rgb(240,86,134);
    background: linear-gradient(93deg, rgba(240,86,134,1) 0%, rgba(213,222,85,1) 100%); 
    border: #d5de55;
    color: whitesmoke;
    font-family: var(--font);
    font-size: medium;
}

.seguime h3, .contacto h3{
    font-size: 2.5rem;
}

.socialbtn{
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.socialbtn a{
    text-decoration: none;
    color: var(--rosa);
}

.socialbtn svg{
    size: 26rem;
}

textarea {
    resize: none;
}  

.footer_section{
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    bottom: 0;
    background: rgb(240,86,134);
    background: linear-gradient(93deg, rgba(240,86,134,1) 0%, rgba(213,222,85,1) 100%); 
}

.footer_section p{
    color: whitesmoke;
}